<div *ngIf="response" class="card">
    <div class="card-body">
        <h5>Random User API</h5>
        <p class="card-text">Seed: {{ response.info.seed }}</p>
        <p class="card-text">Results: {{ response.info.results }}</p>
    </div>
</div>
<br>
<br>
<table *ngIf="response" class="table table-striped">
    <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of response?.results; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ person.first }} {{ person.last }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.username }}</td>
            <td>{{ person.address }}</td>
            <td>
                <button [routerLink]="['/data', person.uuid]" type="button" class="button btn btn-primary">guh</button>
            </td>
        </tr>
    </tbody>
</table>